<div class="container m-4">
  <form action="/blog/submitBlog" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="file" class="form-label">Upload Image</label>
        <input
          type="file"
          class="form-control"
          id="coverImageUrl"
          name="coverImageUrl"
        />
    <div class="mb-3">
      <label for="title" class="form-label">Title </label>
      <input
        type="text"
        class="form-control"
        id="title"
        aria-describedby="emailHelp"
        name="title"
        required
      />
      <div id="title" class="form-text">Enter an attractive title</div>
    </div>

    <div class="form-floating">
      <textarea
        class="form-control"
        placeholder="Start writting here"
        id="body"
        style="height: 100px"
        name="body"
        required
      ></textarea>
      <label for="body">Start here...</label>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
