<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Write a blog..</title>
  </head>
  <body>
    <%- include('./partials/viewBlog') %>
    <%- include('./partials/scripts') %>
  </body>
</html>
